---
title: Mustafa C. KUŞÇU
layout: default
---



<div class="home">

  <h1 class="page-heading">Gönderiler</h1>

  <ul class="post-list">
    {% for post in site.posts %}
    <li>
      <span class="post-meta">{{ post.date | date: "%-d %B %Y" }}</span>
      <h2>
        <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
      </h2>
      {% if site.show_excerpts %}
      {{ post.excerpt }}
      {% endif %}
    </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">RSS ile <a href="/feed.xml">abone ol</a></p>

</div>
